build --cxxopt=-std=c++20
build --cxxopt=-Wall
build --cxxopt=-Wextra
build --cxxopt=-Werror
build --cxxopt=-Wformat-security
build --cxxopt=-Wpointer-arith
build --cxxopt=-Woverflow
build --cxxopt=-Wvla
build --cxxopt=-Wunused
build --cxxopt=-Wnon-virtual-dtor
build --cxxopt=-Woverloaded-virtual
build --cxxopt=-Wno-unused-parameter
build --cxxopt=-Wno-missing-field-initializers
build --symlink_prefix=.bazel-
